<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
    <h3 class="modal-title">New Game</h3>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-lg-12">
            <div id="messages" class="alert alert-{{alertStatus}}" ng-show="messages">
                <span ng-bind="messages"></span>
                <i class="dismiss-messages pull-right glyphicon glyphicon-remove" ng-click="messages = ''"
                   ng-show="messages"></i>
            </div>
        </div>
    </div>
    <form name="newGameForm" novalidate role="form" ng-submit="submit(newGameForm)">
        <div class="form-group row">
            <label for="user_name1" class="col-sm-3">User 1</label>
            <div class="col-sm-6">
                <input id="user_name1" class="form-control" type="text" name="user_name1" ng-model="new_game.user_name1" ng-required="true" />
            </div>
            <div role="alert">
              <span class="error" ng-show="newGameForm.user_name1.$error.required">
                Required!</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="user_name2" class="col-sm-3">User 2</label>
            <div class="col-sm-6">
                <input id="user_name2" class="form-control" type="text" name="user_name2" ng-model="new_game.user_name2" ng-required="true" />
            </div>
            <div role="alert">
              <span class="error" ng-show="newGameForm.user_name2.$error.required">
                Required!</span>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-5">
                <button class="btn btn-default" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>